:root {
    /* Color Palette for the Health Application */
    --primary-color: #49243E; /* Dark Wine */
    --secondary-color: #704264; /* Deep Purple */
    --accent-color: #BB8493; /* Muted Rose */
    --background-color: #FFFFFF; /* Clean White */
    --text-color: #95397c; /* Subtle Warm Neutral */
    --button-hover: #3B1C32; /* Darker Wine for Button Hover */
    --border-color: #E0E0E0; /* Light Border Color */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h2 {
    color: var(--text-color); /* Vinho Escuro */
    font-weight: bold; /* Para destacar mais */
}

nav {
    background-color: var(--primary-color); /* Alterado para a cor que era do header */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px; /* Ajuste o tamanho da logo conforme necessário */
    display: block;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.nav-links a:hover {
    background-color: var(--accent-color); /* O hover continua com a cor de destaque */
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px 10px;
    position: relative;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.container {
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 10px;
    }
}